<h1 class="hero-title text-center mb-5">Purchase History</h1>

<%# Purchases history displayed for current user logged in %>

<section class="container">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
        <%@list_purchases.each do |purchase|%>
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5><%=format_condition(purchase.listing.name)%></h5>
         
                    <div class='d-flex justify-content-between'>
                        <h5><%=format_price(purchase.listing.price)%></h5></div>
                        <p>Date Purchased: <%=format_date(purchase.created_at)%></p>
                
                        <%=link_to "Listing", listing_path(purchase.listing.id), class:"btn btn-primary"%>
                        <%=link_to "Receipt", purchase.receipt_url, class:"btn btn-outline-primary"%>
                    </div>
                </div>  
            </div>
         
        <%end%>
    </div>
</section>