<h1>Create a new listing</h1>

<table>
<%= form_with model: @listing do |form| %>
    <tr>
        <td><%= form.text_field :name, placeholder: "name" %></td>
    </tr>

    <tr>
        <td><%= form.text_field :price, placeholder: "price" %></td>
    </tr>

    <tr>
        <td><%= form.text_field :description, placeholder: "enter a description about your listing..." %></td>
    </tr>

    <tr>
        <td><%= form.text_field :quantity, placeholder: "quantity" %></td>
    </tr>

    <tr>
        <td><%= form.text_field :category, placeholder: "category" %></td>
    </tr>

    <tr>
        <td><%= form.submit%></td>
    </tr>
</table>
<% end %>
