<h1><%= @listing.name %></h1>
<p><%=@listing.price %></p>
<p><%= @listing.quantity %></p>
<p><%= @listing.category %></p>
<p><%= @listing.description %></p>


<%= link_to 'Remove', @listing, method: :delete, data: {confirm: "Please confirm"} %>
