<section class='container d-flex flex-column flex-md-row px-2 my-2 my-md-5'>
    <div class='content col-12 col-md-7 col-lg-8 p-0 pr-md-3'>
        <div class='col-12 p-0 main-preview mb-4'>

<%# conditional display of image, default image if none selected%>
            <%if @listing.picture.attached?%>
                <%=image_tag @listing.picture, alt: @listing.name, class:"thumbnail card-img top"%>
            <%else%>
                <%=image_tag "default_no_image.png", alt: "default", class:"thumbnail card-img top"%>
            <%end%>
        </div>
    </div>

    <div class='sidebar col-lg-4 p-0 mx-2 d-md-block'> 
        <h1 class='mb-sm-2 mb-md-5'><%=format_condition(@listing.name)%></h1>
        <h3 class='mb-2'>Category: <%=@listing.category.name%></h2>
    
<%# renders badge-pill display of features%>
        <%@listing.features.each do |feature|%>
            <span class='badge badge-pill badge-info'><%=feature.name%></span>
        <%end%>

<%# lists condition %>
        <h3 class='text-muted mb-3'>Condition: <%=format_condition(@listing.condition)%></h4>

<%# lists price %>    
        <h3 class='text-muted mb-3'>Price: <%=format_price(@listing.price)%></h5>

<%# lists description %>            
        <p><%=@listing.description%></p>

<%#renders button to redirect to stripe checkout or disable button if listing is sold %>
    <%if current_user && @listing.sold == false %>
        <%=button_to "Buy: #{format_price(@listing.price)}", 
        create_checkout_session_path,
        remote: true,
        method: :post,
        params: {id: @listing.id},
        class: 'btn btn-primary mb-3 pr-2',
        data: {disable_with: "Loading..."}%>
    <%elsif @listing.sold%>
        <button class='btn btn-secondary' disabled>SOLD OUT</button>
    <%else%>
        <%=button_to "Login to buy", new_user_session_path, class: "btn btn-info"%>
    <%end%>

    <div class='container'>
    <%if current_user && current_user.id == @listing.user_id%>
        <div class='d-flex justify-content-equally'>
            <%= link_to "Edit", edit_listing_path(@listing.id), class: "btn btn-warning mr-2" %>
            <%= link_to "Delete", @listing, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </div>
    <%end%>
    </div>
    <div>
        <%= link_to 'Back to listings', listings_path, method: "get", class: "btn btn-outline-primary btn-sm" %>
    </div>
</div>



</section>