<h1><%= @listing.name %></h1>
<h4><%=@listing.price %></h4>
<h4><%= @listing.description %></h4>
<h4><%= @listing.quantity %></h4>
<h4><%= @listing.category %></h4>

<%= link_to 'Remove', @listing, method: :delete, data: {confirm: "Please confirm"} %>
