<h1><%= @listing.name %></h1>
<p><%=@listing.price %></p>
<p><%= @listing.quantity %></p>
<p><%= @listing.category %></p>
<p><%= @listing.description %></p>


<div>
    <%= link_to 'Back to listings', listings_path, method: "get", class: "btn btn-outline-primary btn-sm" %>
</div>
